<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
  <title>API Real-Estate | Based on CodyHouse Template</title>
</head>
<body>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1>API Real-Estate </h1>
    <p><a class="cd-article-link" href="https://github.com/CorentinChanet?tab=repositories">My GitHub</a></p>
  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#Introduction">Introduction</a></li>
		<li><a class="cd-faq__category truncate" href="#API Use">API Use</a></li>
		<li><a class="cd-faq__category truncate" href="#About the model">About the model</a></li>
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="Introduction" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Introduction</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Where am I?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Welcome! This Webpage provides information regarding the use of my API. Hopefully, you will not run into (too much) trouble using it!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What is the purpose of all this?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>This API can be used to get a predicted price for a given (hypothetical) property: it can be a house,
				  an apartment, but also a farmhouse, etc. (many types are allowed by the API).
				  In order to make a prediction, the server runs a model (more information on that in the last section)
				  that needs some real-estate data from you. </p>
		  </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="API Use" class="cd-faq__group">
			<li class="cd-faq__title"><h2>API</h2></li>
						<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How should I use this API?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>If you are here, you're already at the right place! On top of getting this page, you can also use this
				endpoint (with a POST request) to send a properly formatted JSON object with all the required fields
				and their respective values (and yes, those are <i>case sensitive</i>). To help you figure out what the
				API expects from you, you can check 2 super important links. <br> <br>
				<a href="https://corentin-api-test.herokuapp.com/redoc#operation/price_prediction_predict__post">The first one</a> allows you to check all the
				acceptable values for all the required fields. Again, the string values are case-sensitive!
				<a href="https://corentin-api-test.herokuapp.com/docs"> <br> <br> The second one</a> allows you to try the API
				by directly typing some values in a JSON object and see what response and potential error message you
				get with the values you've entered. It's completely safe, don't hesitate to try different combinations.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

									<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How was this API built?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p> With love! More seriously, I used fastAPI rather than Flask because the integration with Pydantic Models
				is simply amazing. Almost all the validation takes place within the models (i.e. classes) definition: it's
				OOP, it's easy, readable and customizable. <br> <br> In other words, there's no code needed to manually check the
				structure of the data, because the Pydantic library is doing that automatically, including returning some
				nicely formatted and explicit error messages. As an example, instead of receiving a head-scratching '500 Internal Error'
				in case you forgot to send a required field, fastAPI and Pydantic will automatically send a 422 Validation Error with a
				message saying exactly which field is missing! <br> <br> And although it did not matter here, fastAPI can be used asynchronously,
				with performance on par with Node.js - which is great for people like me who don't know anything about JavaScript!
				If you are interested, go check fastAPI <a href="https://fastapi.tiangolo.com/">official documentation</a>
			</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="About the model" class="cd-faq__group">
			<li class="cd-faq__title"><h2>About the model</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Where is the data coming from?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<p> Data about real-estate in Belgium was scraped from Immoweb around June 2021 with BeautifulSoup and Selenium libraires.
				The first one allows us to retrieve (static) information contained within the HTML code, while the second one provides
				automated interaction with the Website in order to click, scroll, wait for some JS script to be executed, fill in fields, etc.
				Collected data includes information about the size, the condition of the building, the postal code, the type of building, etc.
				Eventually only the relevant features for the model were kept, and are shown in the /docs and /redoc.<br> <br>
				Part of the reason why predictions are not super accurate (as discussed below) is that collecting this Immoweb data
				presented some challenges. First, many properties were missing some fields that had some predictive values (or at the
				very least, we were not able to retrieve them from the page's code. Second, we did not know about regression and
				Machine Learning at that time; it's plausible that if we were to do it all over again, we would focus more on getting
				specific fields that in hindsight could help train the model.</p>
		  </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How was the model built?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p> The first step - called EDA for Exploratory Data Analysis - was to find out which features seemed to be
				most correlated with the price, and how much variance ("variability") was affected by outliers in the
				relations between variables. A business-oriented presentation was given at this stage, if you are
				interested you can find the slides <a href="https://docs.google.com/presentation/d/1M11hxMh23T3_ekDTXdYrt9FqNda51EgjlWvOKnej7e4/edit?usp=sharing">here</a>.
				<br> <br>
				The second step was to further clean the data: properties with too many missing fields were dropped and
				outliers were removed (about 0.1%).
				<br> <br>
				The third step - called feature engineering - was to turn categorical features into numerical ones,
				to create a 'province' feature based on the postal codes (because it quickly appeared that clustering the
				data at the province level would yield better predictions), and finally to rescale the target (i.e.
				the price) with a logarithm to avoid too much "dispersion" at high prices.
				<br> <br>
				Finally, after trying a few linear regressions, a non-linear estimator called a Random Forest Classifier was selected
				and trained.
				<br> <br> For more information on what it means to "train a model", you can check
				<a href="https://www.youtube.com/watch?v=Gv9_4yMHFhI">this video</a>. Disclaimer: the style of this channel is super-cringy in my opinion, but
				things are indeed "clearly explained". If hearing him sings makes you want to rip your ears off (or his!), you can check <a href="https://www.youtube.com/watch?v=nKW8Ndu7Mjw">this other video</a> as well.
				<br> <br> For more information on Random Forest in general, you can check
				<a href="https://williamkoehrsen.medium.com/random-forest-simple-explanation-377895a60d2d">this article</a>.
			</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How good is the model?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p> Unfortunately, not *that* good right now... It can be pretty spot on, but it can also be off by more than half a
				million for the most expensive or peculiar properties. Usually though, the predicted price is in acceptable
				range and kind of make sense. On a more technical level, the Adjusted R2 score is about 0.70.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

		</ul> <!-- cd-faq__group -->
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="{{ url_for('static', path='/js/util.js') }}"></script> <!-- util functions included in the CodyHouse framework -->
<script src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>